<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
  <style> 
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f9;
      margin: 0;
      padding: 0;
      color: #333;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    h1 {
      font-size: 24px;
      color: #1e3d58;
      text-align: center;
    }

    p {
      font-size: 16px;
      color: #666;
      line-height: 1.5;
      text-align: center;
    }
 
    .btn {
      display: inline-block;
      padding: 1rem;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: #ffffff;
      background-color: #4caf50;
      border-radius: 8px;
      text-align: center;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
 
    .btn:hover {
      background-color: #45a049;
      transform: translateY(-2px); 
    }
 
    .btn:active {
      transform: translateY(1px); 
    }

    .footer {
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
      color: #999;
    }

    .footer a {
      color: #4caf50;
      text-decoration: none;
    }

    .header-image {
      width: 100%;
      max-width: 600px;
      border-radius: 8px;
    }
  </style>
</head>

<body>

  <div class="container">

    <center>
      <img src="./logo.png" alt="Recuperação de Senha" class="header-image">
    </center>

    <h1>Reputação 360</h1>
    <h2>Recuperação de Senha</h2>
    <p>Olá! Você solicitou a redefinição da sua senha. Para continuar, basta clicar no botão abaixo:</p>
    <br>
    <p>Este link expira em 30min, caso expire faça a redefinição novamente</p>
    <center>
      <a href="{{resetUrl}}" class="btn">Redefinir Senha</a>
    </center>

    <div class="footer">
      <p>Se você não solicitou a recuperação de senha, ignore este e-mail.</p>
      <p>Atenciosamente, <br> A equipe de suporte.</p>
    </div>
  </div>

</body>

</html>