<!DOCTYPE html>
<html>

<head>
    <title>Bem-vindo ao Kursinha Platform</title>
    <style>

        body {
            font-family: Arial, sans-serif;
            color: black;
            background-color: #fff;
        }

        h1 {
            color: violet;
        }

        p {
            color: black;
        }
    </style>
</head>

<body>
    <h1>Olá, {{userName}}!</h1>
    <p>Bem-vindo ao Kursinha.
        <br>
        Estamos felizes em tê-lo conosco.
    </p>
    <p>Se você tiver alguma dúvida, não hesite em nos contatar.</p>
    <p>Atenciosamente,</p>
    <p>Equipe Kursinha</p>
</body>

</html>